@model TempleAll.Knowledge

@{
    ViewBag.Title = "CreateKnowledge";
}

<h2>CreateKnowledge</h2>

@using (Html.BeginForm("CreateKnowledge", "Admin",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
{     
    @Html.EditorForModel()
    <input type="submit" value="ตกลง" />   
}

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }